*,
::before,
::after {
  box-sizing: border-box;
}

a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

:root {
  /* colors */
  --background: #ffffff;
  --background-accent: #F6F6F6;
  --hero-color: #ffffff;
  --main-color: #000000;
  --secondary-color: #ffffff;
  --card-color: #000000;
  --subheader-color: #1E2227;
  --desription-color: #6E6E6E;
  --footer-main-color: #5E5E5E;
  --accent-color: #ECECEC;
}

body {
  background-color: var(--background);
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 1.6rem;

}

.container {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
}

.section-padding {
  padding: 13rem 0;
}

.small-section-padding {
  padding: 12rem 0;
}

.block-padding {
  padding: 0 15px;
}

.bottom-distance {
  margin-bottom: 5rem;
}

/* Screen readers only */
.sr-only {
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Buttons */
button {
  cursor: pointer;
}

.btn {
  padding: 2rem 5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  transform: skewX(-10deg);
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.btn>.unskewed {
  transform: skewX(10deg);
}

.btn-fill {
  background-color: var(--card-color);
  color: #ffffff;
}

.btn-fill:hover,
.btn-fill:focus {
  background-color: #ffffff;
  color: var(--card-color);
  border-color: var(--card-color);
}

.btn-outline-dark {
  border-color: var(--main-color);
  color: var(--main-color);
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}

.btn-outline-light:hover,
.btn-outline-light:focus {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

/* Position */
.horizontal-position {
  display: flex;
  align-items: center;
}

.vertical-position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}

.ai-start {
  align-items: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-start {
  justify-content: flex-start;
}

.jc-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.subtitle {
  font-size: 6rem;
  color: var(--main-color);
}

.description {
  width: 57%;
  margin: 0 auto 13rem auto;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--desription-color);
}

.subtitle-small {
  font-size: 3.6rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  padding-top: 12rem;
}

.decription-small {
  font-size: 1.8rem;
  color: var(--desription-color);
  line-height: 3rem;
}

.small-subtitle {
  font-size: 4.8rem;
  color: var(--main-color);
  margin-bottom: 2.5rem;
}

.marketplace-name {
  font-size: 2.4rem;
  color: var(--card-color);
  margin-bottom: 2.5rem;
}

.marketplace-price {
  font-size: 3.6rem;
  color: var(--card-color);
  margin-bottom: 4rem;
}

.terms-item {
  font-size: 18px;
  color: var(--footer-main-color);
  margin-right: 50px;
  position: relative;
}

.terms-item::before {
  position: absolute;
  top: 100%;
  content: '';
  width: 0;
  height: 1px;
  background-color: var(--footer-main-color);
  transition: .1s ease;
}

.terms-item:hover:before,
.terms-item:focus:before {
  width: 100%;
  transition: .1s ease;
}

.social-item {
  font-size: 2rem;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--main-color);
  margin-left: 2rem;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item:hover,
.social-item:focus {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.address {
  font-size: 2.4rem;
  color: var(--footer-main-color);
  position: relative;
}

.address:nth-child(2)::before {
  position: absolute;
  top: 100%;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--footer-main-color);
  transition: .1s ease;
}

.address:nth-child(2):hover::before,
.address:nth-child(2):focus::before {
  width: 0;
  transition: .1s ease;
}