*,
::before,
::after {
  box-sizing: border-box;
}

a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

:root {
  /* colors */
  --background: #ffffff;
  --background-accent: #F6F6F6;
  --hero-color: #ffffff;
  --main-color: #000000;
  --secondary-color: #ffffff;
  --card-color: #000000;
  --subheader-color: #1E2227;
  --desription-color: #6E6E6E;
  --footer-main-color: #5E5E5E;
  --accent-color: #ECECEC;
}

body {
  background-color: var(--background);
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
}

.section-padding {
  padding: 15rem 0;
}

/* Buttons */
.btn {
  padding: 2rem 5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  transform: skewX(-10deg);
  border: 2px solid transparent;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
}

.unskewed {
  transform: skewX(10deg);
}

.btn-fill {
  background-color: var(--main-color);
}

.btn-outline-dark {
  border-color: #000000;
}

.btn-outline-dark:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.btn-outline-light {
  border-color: #ffffff;
}

.btn-outline-light:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

/* Position */
.horizontal-position {
  display: flex;
  align-items: center;
}

.vertical-position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}