/* Imports */
@import 'fonts.css';
@import 'reset.css';
@import 'variables.css';
@import 'base.css';

/* Header */
.header {
  padding: 6.5rem 5rem;
  color: var(--hero-color);
  width: 100%;
  position: absolute;
  line-height: 1;
}

.logo {
  text-transform: uppercase;
  font-size: 3.6rem;
  position: relative;
}

.nav {
  max-width: 1830px;
  margin: 0 auto;
}

.nav-item a {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 0 2rem;
  position: relative;
}

.logo:before,
.nav-item a:before {
  content: '';
  height: .2rem;
  width: 0;
  background-color: var(--hero-color);
  position: absolute;
  top: calc(100% + 2px);
  transition: 0.2s cubic-bezier(1, .35, .34, .89);
}

.nav-item a:hover:before,
.logo:hover:before,
.nav-item a:focus:before,
.logo:focus:before {
  width: 100%;
  transition: 0.2s cubic-bezier(1, .35, .34, .89);
}

.cart {
  background-color: transparent;
  margin-right: 5rem;
  position: relative;
  cursor: pointer;
  background: url(../img/icon-sprite.png);
  background-position-x: 0px;
  width: 32px;
  height: 27px;
  border: none;
}

.cart::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0px solid var(--hero-color);
  transition: 0.2s;
}

.cart:hover:before,
.cart:focus:before {
  border: 2px solid var(--hero-color);
  transition: .2s;
}

.cart:after {
  content: attr(data-count);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
}

/* Hero */
.hero {
  padding: 22rem 0 8rem 0;
  background: url('../img/hero-background.jpg') no-repeat 0 0 / cover;
}

.hero-content {
  margin-bottom: 18rem;
}

.hero h1 {
  font-size: 16rem;
  color: var(--hero-color);
  margin-bottom: 1rem;
  line-height: 19.2rem;
}

.hero p {
  font-size: 1.8rem;
  font-weight: normal;
  color: var(--hero-color);
  margin-bottom: 5.5rem;

}


.hero-arrows {
  color: var(--hero-color);
  font-size: 3.6rem;
  animation: arrow-move 3s infinite ease;
}

@keyframes arrow-move {
  50% {
    transform: translatey(-20px);
    transition: 1s;
  }
}

/* About */
.about {
  padding-bottom: 12rem;
  position: relative;
}

.about-info {
  width: 50%;
}


.about-pic {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  /* картинка налазит на текст при моем разрешениии, если картинке не задать ширину */
  max-width: 50%;
}

.about-info p {
  font-size: 2.4rem;
  line-height: 4.2rem;
  color: var(--desription-color);
}

.about button {
  margin-left: 1rem;
}

/* Video-slider */
.video-slider {
  position: relative;
}

.video-item {
  max-width: 1920px;
  width: 100%;
}

.video-slide {
  position: relative;
}

/* Video-button */
.video-button {
  font-size: 6.5rem;
  color: #000000;
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;
  border: none;
}

/* Video-button animation*/
.video-button:hover,
.video-button:focus {
  transform: translate(-50%, -50%) scale(1.1);
  transition: .1s;
}

.video-button::before,
.video-button::after {
  content: '';
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.video-button::before {
  width: 550px;
  height: 550px;
  transition: .1s .1s;
}

.video-button:hover.video-button::before,
.video-button:focus.video-button::before {
  transform: translate(-50%, -50%) scale(1.1);
  transition: .1s .1s;
}

.video-button::after {
  width: 370px;
  height: 370px;
  transition: .1s .05s;
}

.video-button:hover.video-button::after,
.video-button:focus.video-button::after {
  transform: translate(-50%, -50%) scale(1.1);
  transition: .1s .05s;
}

.video-button.hide {
  display: none;
}

.btn-arrow {
  font-size: 5rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.btn-left {
  left: 20px;
}

.btn-right {
  right: 20px;
}

/* Services */

.services h2 {
  margin-bottom: 2rem;
}

.services-card {
  width: 30%;
  position: relative;
}

.services-icon-cam:before,
.services-icon-watch:before,
.services-icon-speed:before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  background: url('../img/icon-sprite.png');
}

.services-icon-cam:before {
  width: 83px;
  height: 63px;
  background-position-x: 80px;
}

.services-icon-watch:before {
  width: 47px;
  height: 62px;
  background-position-x: 191px;
}

.services-icon-speed:before {
  width: 64px;
  height: 64px;
  background-position-x: 144px;
}

/* Parameters */

.parameters {
  background-color: var(--background-accent);
  position: relative;
}

.parameters-info {
  display: flex;
  justify-content: flex-end;
}

.parameters-data {
  width: 50%;
}

.parameters-info img {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + 150px));
  left: 0;
  max-width: 50%;
}

.parameters-data {
  height: 710px;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;

}

.parameters-data dt {
  font-size: 1.8rem;
  color: var(--desription-color);
  margin-bottom: 1rem;
}

.parameters-info dd {
  font-size: 3rem;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 7rem;
}

.parameters-info dd:nth-of-type(6),
.parameters-info dd:nth-of-type(12) {
  margin-bottom: 0;
}

/* Appearance */

.appearance {
  background-color: #ffffff;
}

.appearance-slider-cover {
  position: relative;
  max-width: 1920px;
  width: 100%;
}

.appearance-slider-cover .btn-arrow {
  color: var(--desription-color);
}

.appearance-pic {
  margin: 0 3rem;
}

.appearance-pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.btn-left-app {
  left: 20px;
}

.btn-right-app {
  right: 20px;
}

/* Marketplace */

.marketplace {
  background-color: var(--background-accent);
}

.marketplace-items {
  flex-wrap: wrap;
}

.marketplace-card {
  width: 32%;
  background-color: #ffffff;
  padding: 3.5rem 2.5rem;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  position: relative;
}


.marketplace-linked {
  margin: 9rem 0;
}

.marketplace-linked-new:before {
  content: 'New';
  position: absolute;
  top: 80px;
  right: 60px;
  width: 120px;
  height: 120px;
  font-size: 120px;
  border-radius: 50%;
  background-color: var(--card-color);
  font-size: 2.4rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marketplace-card img {
  height: 220px;
  width: 100%;
  object-fit: contain;
}

/* Footer */
.footer-top {
  margin-bottom: 10rem;
}

.footer-mid {
  margin-bottom: 10rem;
}

.footer-tel {
  font-size: 3rem;
  color: var(--main-color);
  position: relative;
}

.footer-tel:before {
  position: absolute;
  top: 100%;
  content: '';
  width: 0;
  height: 1px;
  background-color: var(--main-color);
  transition: .1s;
}

.footer-tel:hover:before,
.footer-tel:focus:before {
  width: 100%;
  transition: .1s;
}

.footer-copy {
  font-size: 1.8rem;
  color: var(--footer-main-color)
}

/* Import Medeia query */
@import 'mediaq.css';

@media (max-width: 1439.98px) {
  .container {
    width: 1140px;
    padding: 0 15px;
  }

  .header {
    padding: 4rem 4rem;
  }

  .hero h1 {
    font-size: 9rem;
  }

  .btn {
    padding: 1.5rem 4.5rem;
  }

  .hero-content {
    margin-bottom: 11rem;
  }

  .small-section-padding {
    padding: 10rem 0;
  }

  .subtitle {
    font-size: 5rem;
  }

  .about-info p {
    font-size: 2.2rem;
    line-height: 4rem;
  }

  .video-button,
  .video-button::before,
  .video-button::after {
    font-size: 6.5rem;
    transform: translate(-50%, -50%) scale(0.5);
  }

  .video-button:hover,
  .video-button:focus,
  .video-button:hover::before,
  .video-button:focus::before,
  .video-button:hover::after,
  .video-button:focus::after {
    transform: translate(-50%, -50%) scale(0.6);
  }

  .description {
    margin: 0 auto 10rem auto;
  }

  .parameters-data {
    height: 600px;
  }

  .parameters-info dd {
    font-size: 2.6rem;
    margin-bottom: 5rem;
  }

  .marketplace-linked {
    margin: 5rem 0;
  }

  .marketplace-linked-new:before {
    right: 40px;
    width: 100px;
    height: 100px;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }

  .logo {
    font-size: 2.8rem;
  }

  .nav-item a {
    font-size: 1.6rem;
    margin: 0 1rem;
  }

  .cart {
    margin-right: 3rem;
  }

  .btn {
    font-size: 1.6rem;
  }

  .hero {
    padding: 20rem 0 8rem 0;
  }

  .hero h1 {
    line-height: 11rem;
  }

  .about {
    /* For picture not to drop out of section */
    overflow: hidden;
  }

  .about-info p {
    font-size: 2rem;
    line-height: 3.5rem;
  }

  .bottom-distance {
    margin-bottom: 3.5rem;
  }

  .description {
    width: 70%;
  }

  .services-card {
    width: 31%;
  }

  .subtitle-small {
    font-size: 3.2rem;
    padding-top: 10rem;
  }

  .decription-small {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .parameters-data {
    height: 540px;
    width: 55%;
  }

  .parameters-data dt {
    margin: 0 2rem 1rem 0;
  }

  .parameters-info dd {
    font-size: 2rem;
    margin-bottom: 5rem;
  }

  .marketplace-linked {
    margin: 1rem 0 2rem 0;
  }

  .marketplace-linked-new:before {
    width: 90px;
    height: 90px;
    top: 30px;
    right: 30px;
  }

  .marketplace-name {
    font-size: 2.2rem;
  }

  .marketplace-price {
    font-size: 3.4rem;
    margin-bottom: 5rem;
  }

  .footer {
    padding: 8rem 0;
  }

  .footer-top {
    margin-bottom: 5rem;
  }

  .address {
    font-size: 2.2rem;
  }

  .footer-tel {
    font-size: 2.8rem;
    color: var(--main-color);
    position: relative;
  }

  .footer-mid {
    margin-bottom: 5rem;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }

  .header {
    padding: 2rem 2rem;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    font-size: 2.8rem;
    /* Need for correct work flex align-center (.nav-item a margin)*/
    margin-bottom: 2rem;
  }

  .nav-item a {
    margin: 0 1.2rem 2rem 1.2rem;
  }

  .nav-btns {
    margin-bottom: 2rem;
  }

  .cart {
    margin-right: 3rem;
  }

  .btn {
    padding: 1.3rem 3.5rem;
    font-size: 1.4rem;
  }

  .hero {
    padding: 15rem 0 8rem 0;
  }

  .hero h1 {
    line-height: 9rem;
    font-size: 7rem;
  }

  .hero p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 4.5rem;
  }

  .hero-content {
    margin-bottom: 5rem;
  }

  .subtitle {
    font-size: 4rem;
  }

  .about-info {
    width: 80%;
  }

  .about-pic {
    right: -25%;
  }

  .about-info p {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .description {
    width: 90%;
  }

  .description {
    margin: 0 auto 6rem auto;
  }

  .services-card {
    width: 33.33%;
  }

  .subtitle-small {
    font-size: 2.6rem;
  }

  .services-icon-cam:before,
  .services-icon-watch:before,
  .services-icon-speed:before {
    transform: scale(0.7);
    transform-origin: 0;
  }

  .parameters-info {
    justify-content: center;
  }

  .parameters-info img {
    left: -25%;
  }

  .parameters-data {
    height: 430px;
    width: 68%;
  }

  .parameters-info dd {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  .marketplace-card {
    padding: 15px;
  }

  .marketplace-linked {
    margin: 0;
  }

  .marketplace-name {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .marketplace-price {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }

  .marketplace-linked-new:before {
    width: 60px;
    height: 60px;
    top: 60px;
    font-size: 1.6rem;
  }

  .footer-top {
    margin-bottom: 3rem;
  }

  .terms-item {
    font-size: 1.6rem;
    margin-right: 3rem;
  }

  .social-item {
    font-size: 1.6rem;
    width: 40px;
    height: 40px;
  }

  .footer-mid {
    margin-bottom: 3rem;
  }

  .address {
    font-size: 1.6rem;
  }

  .footer-tel {
    font-size: 2rem;
  }

  .footer-copy {
    font-size: 1.6rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .header {
    padding: 15px;
  }



  .logo {
    font-size: 1.8rem;
    margin: 0;
  }

  .nav-item a {
    margin: 0 1rem;
  }

  .nav-item a {
    font-size: 1.3rem;
  }

  .nav-btns {
    margin-top: 2rem;
  }

  .cart {
    margin-right: 1.5rem;
  }

  .btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }

  .hero {
    padding: 12rem 0 5rem 0;
  }

  .hero-content {
    margin-bottom: 4rem;
  }

  .hero h1 {
    line-height: 6rem;
    font-size: 5rem;
  }

  .hero p {
    margin-bottom: 3rem;
  }

  .hero-arrows {
    font-size: 2.6rem;
  }

  .small-section-padding {
    padding: 5rem 0;
  }

  .about-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .about-pic {
    position: static;
    transform: none;
    margin-right: -30px;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .btn.btn-outline-dark {
    align-self: center;
  }


  .small-subtitle {
    font-size: 4rem;
  }

  .subtitle-small {
    font-size: 2rem;
    padding-top: 8rem;
  }

  .services-cover {
    flex-wrap: wrap;
  }

  .services-card {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-icon-cam:before,
  .services-icon-watch:before,
  .services-icon-speed:before {
    left: 50%;
    transform: scale(0.7)translateX(-50%);
  }

  .parameters-info {
    flex-wrap: wrap;
  }

  .parameters-info img {
    position: static;
    max-width: 100%;
    transform: none;
    margin-left: -30px;
    object-fit: cover;
  }

  .parameters-data {
    height: 430px;
    width: 100%;
  }

  .marketplace-items {
    justify-content: center;
  }

  .marketplace-card {
    width: 75%;
    margin-bottom: 5rem;
    padding: 3.5rem 2.5rem;
  }

  .marketplace-card img {
    height: 150px;
  }

  .marketplace-name {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
    height: 3.2rem;
  }

  .marketplace-price {
    font-size: 3.6rem;
  }

  .marketplace-linked {
    margin: 5rem 0;
  }

  .marketplace-linked-new:before {
    width: 60px;
    height: 60px;
    top: 60px;
    right: 60px;
    font-size: 1.6rem;
  }

  .footer-top {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-terms {
    margin-bottom: 3rem;
  }

  .footer-mid {
    align-items: flex-start;
  }

  .footer-copy {
    text-align: center;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .logo {
    margin: 0;
  }

}