/* Imports */
@import 'fonts.css';
@import 'reset.css';
@import 'variables.css';
@import 'base.css';

/* Header */
.header {
  padding: 6.5rem 5rem;
  color: var(--hero-color);
  font-weight: bold;
  width: 100%;
  position: absolute;
  line-height: 1;
}

.logo {
  text-transform: uppercase;
  font-size: 3.6rem;
  position: relative;
}

.nav-item a {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 0 2rem;
  position: relative;
}

.logo:before,
.nav-item a:before {
  content: '';
  height: 2px;
  width: 0px;
  background-color: var(--hero-color);
  position: absolute;
  top: calc(100% + 2px);
  transition: 0.2s 0.1s cubic-bezier(1, .35, .34, .89);
}

.nav-item a:hover:before,
.logo:hover:before {
  width: 100%;
  transition: 0.2s 0.1s cubic-bezier(1, .35, .34, .89);
}

.cart {
  background-color: transparent;
  border: none;
  border: 2px solid transparent;
  margin-right: 5rem;
  position: relative;
}

.cart::before {
  content: attr(data-count);
  background: url(../img/icon-sprite.png);
  background-position-x: 0px;
  width: 32px;
  height: 27px;
}

.cart:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0px solid var(--hero-color);
  transition: 0.2s 0.1s linear;
}

.cart:hover:after {
  border: 2px solid var(--hero-color);
  transition: 0.2s linear;
}


/* Hero */
.hero {
  padding: 22rem 0 8rem 0;
  background: url('../img/hero-background.jpg') no-repeat 0 0 / cover;
}

.hero h1 {
  font-size: 16rem;
  font-weight: bold;
  color: var(--hero-color);
  margin-bottom: 2.5rem;
  line-height: 19.2rem;
}

.hero p {
  font-size: 1.8rem;
  font-weight: normal;
  color: var(--hero-color);
  margin-bottom: 5.5rem;

}

.hero button {
  margin-bottom: 18rem;
}

.hero i {
  color: var(--hero-color);
  font-size: 3.6rem
}

/* About */
.about {
  padding-bottom: 12rem;
}

.about-info {
  position: relative;
}


.about-pic {
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}

.about-info p {
  width: 50%;
  font-size: 2.4rem;
  line-height: 4.2rem;
  color: var(--desription-color);
}

.about button {
  margin-left: 1rem;
}

/* Video-slider */

/* Services */
.services h2 {
  margin-bottom: 2rem;
}

.services-info {
  width: 55%;
  margin: 0 auto 13rem auto;
  font-size: 1.8rem;
  line-height: 3rem;
}

.services-card {
  width: 33.33%;
  padding-top: 12rem;
  position: relative;
}

.services-icon-cam:before,
.services-icon-watch:before,
.services-icon-speed:before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  background: url('../img/icon-sprite.png');
}

.services-icon-cam:before {
  width: 83px;
  height: 63px;
  background-position-x: 80px;
}

.services-icon-watch:before {
  width: 47px;
  height: 62px;
  background-position-x: 191px;
}

.services-icon-speed:before {
  width: 64px;
  height: 64px;
  background-position-x: 144px;
}