/* Imports */
@import 'fonts.css';
@import 'reset.css';
@import 'variables.css';
@import 'base.css';

/* Header */
.header {
  padding: 6.5rem 5rem;
  color: var(--hero-color);
  width: 100%;
  position: absolute;
  line-height: 1;
}

.logo {
  text-transform: uppercase;
  font-size: 3.6rem;
  position: relative;
}

.nav {
  max-width: 1830px;
}

.nav-item a {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 0 2rem;
  position: relative;
}

.logo:before,
.nav-item a:before {
  content: '';
  height: 2px;
  width: 0px;
  background-color: var(--hero-color);
  position: absolute;
  top: calc(100% + 2px);
  transition: 0.2s cubic-bezier(1, .35, .34, .89);
}

.nav-item a:hover:before,
.logo:hover:before,
.nav-item a:focus:before,
.logo:focus:before {
  width: 100%;
  transition: 0.2s cubic-bezier(1, .35, .34, .89);
}

.cart {
  background-color: transparent;
  margin-right: 5rem;
  position: relative;
  cursor: pointer;

  background: url(../img/icon-sprite.png);
  background-position-x: 0px;
  width: 32px;
  height: 27px;
  border: none;
}

.cart::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0px solid var(--hero-color);
  transition: 0.2s linear;
}

.cart:hover:before,
.cart:focus:before {
  border: 2px solid var(--hero-color);
  transition: 0.2s linear;
}

.cart:after {
  content: attr(data-count);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 1;
}


/* Hero */
.hero {
  padding: 22rem 0 8rem 0;
  background: url('../img/hero-background.jpg') no-repeat 0 0 / cover;
}

.hero-content {
  margin-bottom: 18rem;
}

.hero h1 {
  font-size: 16rem;
  color: var(--hero-color);
  margin-bottom: 1rem;
  line-height: 19.2rem;
}

.hero p {
  font-size: 1.8rem;
  font-weight: normal;
  color: var(--hero-color);
  margin-bottom: 5.5rem;

}


.hero-arrows {
  color: var(--hero-color);
  font-size: 3.6rem;
  animation: arrow-move 3s infinite ease;
}

@keyframes arrow-move {
  50% {
    transform: translatey(-20px);
    transition: 1s ease;
  }
}

/* About */
.about {
  padding-bottom: 12rem;
  position: relative;
}

.about-info {
  width: 50%;
}


.about-pic {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  /* картинка налазит на текст при моем разрешениии, если картинке не задать ширину */
  width: 50%;
}

.about-info p {
  font-size: 2.4rem;
  line-height: 4.2rem;
  color: var(--desription-color);
}

.about button {
  margin-left: 1rem;
}

/* Video-slider */

/* Services */
.services h2 {
  margin-bottom: 2rem;
}



.services-card {
  width: 30%;
  position: relative;
}

.services-icon-cam:before,
.services-icon-watch:before,
.services-icon-speed:before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  background: url('../img/icon-sprite.png');
}

.services-icon-cam:before {
  width: 83px;
  height: 63px;
  background-position-x: 80px;
}

.services-icon-watch:before {
  width: 47px;
  height: 62px;
  background-position-x: 191px;
}

.services-icon-speed:before {
  width: 64px;
  height: 64px;
  background-position-x: 144px;
}

/* Parameters */
.parameters {
  background-color: var(--accent-color);
}

.parameters h2 {
  font-size: 4.8rem;
  color: var(--main-color);
  margin-bottom: 2.5rem;
}